################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/project/.vs/project/v16
/project/Debug
/.vs/botzone-CSMahjong/v16/ipch/AutoPCH/8c80e54942605e80
/.vs
/project/x64/Debug
